<template>
<v-container >
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <v-row>
        <v-col cols="12" md="4">
            <Menu />
        </v-col>
        <v-col cols="12" md="8">
            <EditBuild/>
        </v-col>
    </v-row>

</v-container>
</template>

<script>
// @ is an alias to /src
import Menu from "@/components/Menu.vue";
import EditBuild from "@/components/EditBuild.vue";
export default {
    name: "EditBuilding",
    components: {Menu , EditBuild},
};
</script>
