<template>
<v-container >
    <v-row>
        <v-col cols="12" md="4">
            <Menu />
        </v-col>
        <v-col cols="12" md="8">
            <Map/>
        </v-col>
    </v-row>

</v-container>
</template>

<script>
// @ is an alias to /src
import Menu from "@/components/Menu.vue";
import Map from "@/components/Map.vue";

export default {
    name: "Home",
    components: {Menu , Map},
};
</script>
