<template>
<v-card class="mx-auto" height="420">
    <v-card-title class="white--text orange darken-4">
        Add Buildings
        <v-spacer></v-spacer>
    </v-card-title>
    <v-card-text class="pt-4">
        <!-- add Building -->
        <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field v-model="buildingName" :counter="15" :rules="nameRules" label="building Name" required></v-text-field>
            <v-select v-model="selectCountry" :items="countriesList" :rules="[v => !!v || 'Item is required']" label="countries List" item-text="name" item-value="id" required></v-select>
            <div class="my-5 form_btn">
                <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
                    Submit
                </v-btn>

                <v-btn color="error" class="mr-4" @click="reset">
                    Reset Form
                </v-btn>
            </div>

        </v-form>
    </v-card-text>

</v-card>
</template>

<script>
import json from '../json/countriesList.json'
import {
    mapGetters
} from "vuex";

export default {

    name: "Build",
    data: () => ({
        countriesList: json,
        getAllBuild: [],
        User: '',
        valid: true,
        buildingName: '',
        nameRules: [
            v => !!v || 'Name is required',
            v => (v && v.length <= 15) || 'Name must be less than 10 characters',
        ],

        selectCountry: null,

    }),
    computed: {
        ...mapGetters(["getBuilding", "getUser"]),
    },
    watch: {
        getBuilding: {
            handler(getBuilding) {
                if (getBuilding) {
                    this.getAllBuild = getBuilding;
                }
            },
            immediate: true,
        },
        getUser: {
            handler(getUser) {
                if (getUser) {
                    this.User = getUser;
                }
            },
            immediate: true,
        },
    },
    methods: {
        // add Building after validation 
        validate() {
            // check if  select Client or no
            if (this.User.length != 0) {
                // validate form before submit
                if (this.$refs.form.validate()) {
                    this.getAllBuild.push({
                        countyName: this.selectCountry,
                        "buildName": this.buildingName,
                        client: this.User,
                        buildNum: Math.floor(Math.random() * 1000)
                    })
                    this.$store.dispatch('setBuilding', this.getAllBuild)
                    this.reset()
                }
            } else {
                alert("Please Select Client")
            }
        },
        // reset form 
        reset() {
            this.$refs.form.reset()
        },

    },
}
</script>

<style lang="scss" scoped>
.form_btn {
    position: absolute;
    bottom: 0;
    right: 10px;
}
</style>
