<template>
<v-card class="mx-auto" height="420">
    <v-card-title class="white--text orange darken-4">
     Edit Buildings ({{getContent.buildName}})
        <v-spacer></v-spacer>
    </v-card-title>
    <v-card-text class="pt-4">
        <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field v-model="buildingName" :counter="15" :rules="nameRules" label="building Name" required></v-text-field>
            <v-select v-model="selectCountry" :items="countriesList" :rules="[v => !!v || 'Item is required']" label="countries List" item-text="name" item-value="id"  required></v-select>

            <div class="my-5 form_btn">
                <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
                    Submit
                </v-btn>

                <v-btn color="error" class="mr-4" @click="reset">
                    Reset Form
                </v-btn>
            </div>

        </v-form>
    </v-card-text>

    <v-divider></v-divider>

</v-card>
</template>

<script>
import json from '../json/countriesList.json'
import {
    mapGetters
} from "vuex";

export default {

    name: "EditBuild",
    data: () => ({
        countriesList: json,
        getAllBuild: [],
        User:'',
        valid: true,
        buildingName: '',
        nameRules: [
            v => !!v || 'Name is required',
            v => (v && v.length <= 15) || 'Name must be less than 10 characters',
        ],
        buildInfo:'',
        selectCountry: null,

    }),
    computed: {
        ...mapGetters(["getContent", "getUser" , "getBuilding"]),
    },
    watch: {
         getBuilding: {
            handler(getBuilding) {
                if (getBuilding) {
                    this.getAllBuild = getBuilding;
                }
            },
            immediate: true,
        },
        getContent: {
            handler(getContent) {
                if (getContent) {
                    this.selectCountry = getContent.name
                    this.buildingName = getContent.buildName
                    this.selectCountry= getContent.countyName
                    this.buildInfo = getContent
                }
            },
            immediate: true,
        },
        getUser: {
            handler(getUser) {
                if (getUser) {
                    this.User = getUser;
                }
            },
            immediate: true,
        },
    },
    methods: {
        validate() {
            this.$refs.form.validate()
            // remove builging from BuildingList
             var buildings = this.getAllBuild.filter(el => el.buildNum !== this.buildInfo.buildNum);
             // then add it  to BuildingList
            buildings.push({
                countyName:this.selectCountry,
                "buildName": this.buildingName,
                client: this.User,
                buildNum:this.buildInfo.buildNum
            })
            // send building list to Vuex store
            this.$store.dispatch('setBuilding', buildings)
        },
        reset() {
            this.$refs.form.reset()
        },

    },
}
</script>
<style lang="scss" scoped>
.form_btn {
    position: absolute;
    bottom: 0;
    right: 10px;
}
</style>