<template>
<v-card class="mx-auto">
    <v-card-title class="white--text orange darken-4">
        Selected Building ({{getCounty.buildName}} ) Map View
        <v-spacer></v-spacer>

    </v-card-title>

    <v-divider></v-divider>
    <v-card-text class="pt-4">
        <div id="WorldMap" style="height: 300px;"></div>
    </v-card-text>
</v-card>
</template>

<script>
import 'd3';
// import * as d3 from 'd3';
import 'topojson';
import DataMap from 'datamaps'
import {
    throttle
} from "../util/throttle";
import {
    mapGetters
} from "vuex";
export default {

    data() {
        return {
            getCounty: [],
            geographyConfig: {
                popupOnHover: true,
                highlightOnHover: true
            },

            color1: '#AAAAAA',
            color2: '#2196f3',
            highlightFillColor: '#66615B',
            highlightBorderColor: '#f1f1f1',
            mapData: {}

        }
    },
    computed: {
        ...mapGetters(["getContent"]),
    },
    watch: {
        getContent: {
            handler(getContent) {
                if (getContent) {
                    this.getCounty = getContent;
                    this.mapData = {}
                    this.initVectorMap()
                }
            },
            immediate: true,
        },
    },
    async mounted() {
        this.initVectorMap()
    },
    methods: {

        // Draw World Map By datamaps Plugin
        initVectorMap() {
            this.RemoveMapChild()

            this.mapData[this.getCounty.countyName] = {
                fillKey: "MEDIUM",
            };

            var map = new DataMap({
                element: document.getElementById('WorldMap'),
                fills: {
                    HIGH: '#afafaf',
                    LOW: '#123456',
                    MEDIUM: 'blue',
                    UNKNOWN: 'rgb(0,0,0)',
                    defaultFill: '#d6d6d6'
                },
                data: this.mapData,

            });
            let resizeFunc = map.resize.bind(map);
            window.addEventListener('resize', () => {
                throttle(resizeFunc, 40)
            }, false);
            console.log(map)
        },
        RemoveMapChild() {
            const list = document.getElementById("WorldMap");
            console.log(list)
            if (list !== null) {
                while (list.hasChildNodes()) {
                    list.removeChild(list.firstChild);
                }
            }
        },

    },

}
</script>

<style>
</style>
