<template>
<v-card class="mx-auto" max-width="400">
    <v-card-title class="white--text orange darken-4">
        Buildings
        <v-spacer></v-spacer>
        <v-btn to="/Building" color="white" class="text--primary" fab small>
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </v-card-title>

    <v-card-text class="pt-4">
        We can select any building from the list to see the MapView of that
        building. - We can create, update and delete current selected user
        buildings list.
    </v-card-text>
    <v-divider></v-divider>

    <v-virtual-scroll :items="buildAfterFilter" :item-height="50" height="250">
        <template v-slot:default="{ item }">
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>{{ item.buildName }}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-action>
                    <v-container fluid class="pa-0">
                        <v-row>
                            <!-- show modal for delete -->
                            <v-col sm="3">
                                <v-btn @click="showDialog(item)" icon color="pink">
                                    <v-icon>mdi-delete</v-icon>
                                </v-btn>
                            </v-col>
                            <!-- navigate to edit page -->
                            <v-col sm="3">
                                <v-btn @click="editBuild(item)" icon color="primary">
                                    <v-icon>mdi-pencil</v-icon>
                                </v-btn>
                            </v-col>
                            <!-- show map  -->
                            <v-col sm="3">
                                <v-btn @click="showMap(item)" icon color="green darken-2">
                                    <v-icon>mdi-eye</v-icon>
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                    <!--Delete Dialog-->

                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card class="pa-4 grey lighten-3 deleteDialog">
                            <v-card-title class="text-h5">
                                {{ deleteInfo.buildName }}
                            </v-card-title>
                            <v-card-text>
                                <v-row align="center">
                                    <v-col class="shrink">
                                        <div class="alertWrap">
                                            <v-icon large class="red--text">mdi-alert</v-icon>
                                        </div>
                                    </v-col>

                                    <v-col class="grow">
                                        Are you sure you want to delete this Content ?
                                    </v-col>
                                </v-row>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn color="error" class="mr-4" @click="deleteItemConfirm">
                                    Delete
                                </v-btn>

                                <v-btn color="default" class="mr-4" @click="closeDialog">
                                    Cancel
                                </v-btn>

                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!--End Delete Dialog-->
                </v-list-item-action>
            </v-list-item>
        </template>
    </v-virtual-scroll>
</v-card>
</template>

<script>
import {
    mapGetters
} from "vuex";
export default {
    data: () => ({
        getAllBuild: [],
        dialogDelete: false,
        User: [],
        buildAfterFilter: [],
        deleteInfo: "",
    }),

    computed: {
        ...mapGetters(["getBuilding", "getUser"]),
    },
    watch: {
        getBuilding: {
            handler(getBuilding) {
                if (getBuilding) {
                    this.getAllBuild = getBuilding;
                    this.filterBuildByUser();
                }
            },
            immediate: true,
        },
        getUser: {
            handler(getUser) {
                if (getUser) {
                    this.User = getUser;
                    this.filterBuildByUser();
                }
            },
            immediate: true,
        },

        dialogDelete(val) {
            val || this.closeDialog();
        },
    },
    methods: {
        // to show modal for delete
        showDialog(item) {
            this.deleteInfo = item;
            this.dialogDelete = true;
        },
        //confirm delete
        deleteItemConfirm() {
            var arrAfterDelete = this.getAllBuild.filter(
                (el) => el.buildName !== this.deleteInfo.buildName
            );
            this.$store.dispatch("setBuilding", arrAfterDelete);
            this.closeDialog();
        },
        closeDialog() {
            this.dialogDelete = false;
        },
        // send data to map component
        showMap(item) {
            this.$store.dispatch("setContent", item);
            this.$router.push("/");
        },
        // filter  building  by Selected User
        filterBuildByUser() {
            this.buildAfterFilter = [];
            this.buildAfterFilter = this.getAllBuild.filter(
                (el) => el.client == this.User
            );
            this.$store.dispatch("setContent", this.buildAfterFilter[0]);
        },
        // editBuild
        editBuild(item) {
            this.$store.dispatch("setContent", item);
            this.$router.push("/EditBuilding");
        },
    },
};
</script>
