<template>
<v-container>
    <v-card elevation="2" class="mx-5 px-5 py-5" shaped>
        <v-row>
            <v-col cols="12" md="12">
                <v-list-item-title class="text-h5 mb-1 p-4">
                    Select User
                </v-list-item-title>

            </v-col>
            <v-col class="d-flex" cols="12" md="4" offset-md="4">
                <v-select v-on:change="changeUser" v-model="selectClient" :items="items" item-text="name" item-value="value" label="select Client " outlined></v-select>
            </v-col>

        </v-row>
    </v-card>
</v-container>
</template>

<script>
export default {
    name: "Home",
    components: {},
    data: () => ({
        selectClient: '',
        items: [{
            name: 'mena',
            value: "client1"
        }, {
            name: 'Micheal',
            value: "client2"
        }, {
            name: 'Join',
            value: "client3"
        }],
    }),
    methods: {
        // set user  to Vuex  to assign building 
        changeUser() {
            this.$store.dispatch('setUser', this.selectClient)
             this.$store.dispatch('setContent', null)
        }

    }
};
</script>
