<template>
  <v-app>
    <Users />
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import Users from "@/components/Users.vue";
export default {
  
  name: "App",
components: {Users},
  data: () => ({
    //
  }),
};
</script>
